<!DOCTYPE html>
<html>
<head>
  <title>Complement</title>
</head>
<body>
  <div class = "container">
    <h1><%= @complement %></h1>
    <!-- how to use links -->
    <%= link_to "index", "/" %>
  </div>
</body>
</html>
